.btn-primary,
%btn-primary  {
    border-radius: 80px;
    border: 3px solid $white;
    background: linear-gradient(135deg, #F90 0%, #FF6900 52.60%, #FF3D00 100%);
    background-blend-mode: multiply, normal;
    padding: 1.5rem 2rem;
    box-shadow: 0px 4px 0px 0px #E2E2E2, 0px 16px 14px 0px rgba(0, 0, 0, 0.12);

    span {
        font-family: Dosis;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.52px;
        color: $white;
    }
}

.btn-secondary {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: 2px solid $orange;
    background: none;

    span {
        background: var(--Main-Color, linear-gradient(92deg, #F90 0%, #FF6900 52.6%, #FF3D00 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: normal;
    }
}

.box-name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.334;
    letter-spacing: 0em;
    padding: 8px 16px 8px 8px;
    background: $white;
    border-radius: 26px;
    border: 1px solid $greyBackground;
    display: flex;
    align-items: center;
    gap: 8px;

    &:before {
        content: "";
        min-width: 34px;
        height: 34px;
        background-image: url(../images/box-icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    span {
        background: $orangeGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }
}

.btn-tertiary {
    @extend %btn-primary;
    padding: 1.2rem 1.6rem;
    
    span {
        font-size: 1.6rem;
        letter-spacing: 0.4px;
    }
}

.btn-spotify {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    color: $white;
    border-radius: 70px;
    border: 2px solid $spotify;
    padding: 10px 12px;
    background: $spotify;

    &.active {
        background: $white;
        color: $spotify;
    }
}

.btn-deezer {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    color: $white;
    border-radius: 70px;
    border: 2px solid $deezer;
    padding: 10px 12px;
    background: $deezer;

    &.active {
        background: $white;
        color: $deezer;
    }
}