/**
 * @file
 * Fields Components Styling
 */


/* ---------------- DEFAULT -----------------*/

/* ---------------- CUSTOM -----------------*/

.input-wrapper {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 66px;
    background: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    gap: 13px;

    &:before {
        font-family: $icomoon-font-family;
        content: $icon-search-path1;
        font-size: 2.5rem;
        background: $orangeGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    input[type="text"] {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.48px;
        border: none;
        background: $white;
        width: 100%;

        &::placeholder {
            font-weight: 500;
            color: $greyPlaceholder;
        }

        &:focus {
            outline: none;
        }
    }
}