/**
 * @file
 * Main Layout Styling
 */

 body {
   
 }

 .main-content {
    height: calc(100vh - 64px);

    .startup {
        height: 100%;
    }

    .decoration {
        height: 50%;
        background: $orangeGradient;
    }

    .bottom-content {
        height: 50%;
        background: $white;
    }

    .enable-location {
        transition: .3s all ease-in-out;
        position: relative;
        z-index: 2;
    }

    &.stage-1 {

        .enable-location {
            transform: translateY(-100%);
        }
    }
 }