/**
 * @file
 * Main Layout Styling
 */

 body {
   
 }

 .main-content {
    height: calc(100vh - 64px);
    overflow: hidden;

    .startup {
        height: 100%;
        overflow-y: scroll;
    }

    .decoration {
        height: 375px;
        background: #fa9500;
        background: $orangeGradient; /* W3C */

        &__wrapper {
            background-image: url(../images/box-bg.svg); /* fallback */
            background-repeat: no-repeat;
            background-position: center top 30px;
            background-size: calc(100vw - 50px);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .song-cover {
            position: relative;
            left: -30px;

            > svg {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
            }
        }

        .cadre {
            width: 145px;
            height: 145px;
            border-radius: 11px;
            padding: 10px;
            box-shadow: 0px 5px 0px 0px #E2E2E2;
            background: $white;
            z-index: 2;
            position: relative;

            .image-wrapper {
                overflow: hidden;
                border-radius: 11px;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }
            }

            img {
                max-width: 100%;
                border-radius: 11px;
                filter: blur(15px);
            }
        }
    }

    .bottom-content {
        height: 50%;
        background: $white;
    }

    .enable-location {
        transition: .3s all ease-in-out;
        position: relative;
        z-index: 2;
    }

    &.stage-1 {

        .enable-location {
            transform: translateY(calc(-100% - 20px));
        }
    }

    &.stage-2,
    &.stage-3 {
        overflow: visible;
    }
 }