/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    letter-spacing: 1.2%;
}

body {
  font-family: dosis, sans-serif;
  line-height: 1.6;
}

main{
  margin-top: 78px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;

}

h1 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: normal;

}

h2 {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 36px;
  line-height: normal;

}

section {
  padding: 20px;
margin-bottom: 100px;
padding: 26px 26px 32px 26px;
}

 .valeurs, .mission{
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background-color:white;
  color: black;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 7px 16px rgba(0,0,0,0.07);
  position: fixed;
  top: 0;
  left:0;
  right:0;
z-index: 7;
line-height: normal;

}
header img{
  vertical-align: sub;
}

.instagram{
  text-align: center;
}
.instagram a{
  display: inline-block;
  overflow: hidden;

text-align: center;
  background: url("../../../media/homepage/maincolor.png") no-repeat center center/cover;
padding: 16px 20px;
border-radius: 1000px;
border: 3px solid white;
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
box-shadow: 0px 16px 14px rgba(0,0,0,0.12);





}
.instagram a img{
  vertical-align: sub;
  margin-right: 8px;
}



.step1::before{
  background: url("../../../media/homepage/icon/qr.svg") no-repeat center;

}
.step2::before{
  background: url("../../../media/homepage/icon/location.svg") no-repeat center;

}
.step3::before{
  background: url("../../../media/homepage/icon/search.svg") no-repeat center;

}
.step4::before{
  background: url("../../../media/homepage/icon/note.svg") no-repeat center;

}
.step5::before{
  background: url("../../../media/homepage/icon/play.svg") no-repeat center;

}

.mission ol {
  counter-reset: orderedlist;
}

.mission ol li::before{
  width: 48px;
  height:48px;
  font-size: 26px;
  background-color: white;
  border-radius: 100px;
  background-size: 30px;
  flex-grow: 0;     /* do not grow   - initial value: 0 */
flex-shrink: 0;   /* do not shrink - initial value: 1 */
flex-basis: 48px;; /* width/height  - initial value: auto */
counter-increment: orderedlist;
content: counter(orderedlist);
color: black;
display: flex;
align-items: center;
justify-content: center;


}




.flow ol li {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  gap:12px;
  align-items:center;
  margin: 26px 0;
  line-height:normal;
}

.mission ol li p{text-align: left;}


ul, ol{
  list-style: none;
}




.hero {
  background: url("../../../media/homepage/photoBAG.jpg") no-repeat center center/cover;
  height: calc(95vh - 78px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

}

.hero .content{
  position: absolute;
  bottom :80px;
  background-color: white;
  border-radius: 26px;
  padding: 20px 26px;
  background: url("../../../media/homepage/maincolor.png") no-repeat center center/cover;
margin-left: 20px;
margin-right: 20px;
}

.hero .content h1{
  margin-bottom: 8px;


}

.hero::after{
  content:"";
  width:48px;
  height:48px;
  position: absolute;
  top :calc(95vh - 24px);

  background-color: green;
  background: url("../../../media/homepage/icon/arrow_down.svg") no-repeat center;
    background-size: 30px;
  background-color: white;
  border-radius: 10000px;

}


.emoji{

  text-align: center;
  font-size: 32px;
  background-color: white;
  display: block;
  width :25%;
margin : auto;
margin-top:  -50px;
margin-bottom: 42px;
  box-shadow: 0px 7px 16px rgba(0,0,0,0.07);
border-radius: 1000px;
}


.mission{
  color: white;
  background: url("../../../media/homepage/maincolor.png") no-repeat center center/cover;
  text-align: center;
}

.mission p, .support p{
  text-align: center;

}

.mission h2{
}

.flow {

}

.flow h3{
  display: inline-block;
  padding: 16px 32px;
  background-color: white;
  color: black;
  border-radius: 1000px;
  font-size: 1.7rem;
}

.flowstepscontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33% - 3rem);
  text-align: center;
}

.flowstep {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.service h3 {
  margin-bottom: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;

}

footer p {
  margin: 0;
}



.faq {
  background: url("../../../media/homepage/maincolor.png") no-repeat center center/cover;
  padding-top: 36px;
  margin-bottom: 0;
  font-size: 20px;
}

.faq h2 {
  color: white;
}

.topic {
  width: 100%;
}

.question, .reponse {
  margin-bottom: 16px;
  color: white;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
}

.faq .question {
  text-align: right;
  margin-left: 20%;
  width: 80%;
  background-color: white;
color:black;
  padding: 12px;
  border-radius: 16px 0px 16px 16px;
}

.faq .reponse {
  text-align: left;
  margin-right: 20%;
  width: 80%;
  padding: 12px 16px;
  border-radius: 0px 16px 16px 16px;
  background: url("../../../media/homepage/maincolor.png") no-repeat center center/cover;
border: 2px solid white;
}
