@use '../0-init/typography' as *;

/**
 * @file
 * Default Html Tags Styling
 */


/* ---------------- DRUPAL DEFAULT -----------------*/
html,
body {
  //min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

/*body {
  //font-family: $body_font;
}*/


/* -------------- HEADINGS -----------------*/

h1 {
  @extend %heading1;
}

h2 {
  @extend %heading2;
}

h3 {
  @extend %heading3;
}

h4 {
  @extend %heading4;
}

h5 {
  @extend %heading5;
}

h6 {
  @extend %heading6;
}

/* -------------- PARAGRAPHS -----------------*/

/*p {
  &:last-child {

  }
}*/

/* -------------- BLOCKQUOTE -----------------*/
/*blockquote {
  p {}
}*/

/* -------------- LIST -----------------*/

/*ol, ul {
  li {

  }
}*/


/* -------------- LISTS -----------------*/
