<!DOCTYPE html>
<html>

<head>
  <title>Boîte à son - Login</title>
</head>

<body>
  <div class="container">
    {% if messages %}
      {% for message in messages%}
        {{ message }}
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>
  <h2>Connexion</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div>
      <label>Nom d'utilisateur</label>
      <input type="text" name="username">
    </div>
    <div>
      <label>Mot de passe</label>
      <input type="password" name="password">
    </div>
    <button type="submit">Se connecter</button>
  </form>
</body>

</html>