<!-- check_location.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Check Location</title>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            console.log(latitude, longitude)
            // Envoyer les coordonnées à votre backend Django pour la vérification

            // Exemple de requête AJAX pour envoyer les coordonnées au backend Django
            const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              latitude: latitude,
              longitude: longitude,
            }),
          };
          fetch("verify-location", requestOptions)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
            });
        }
    </script>
</head>
<body>
    <h1>Check Location</h1>
    <button onclick="getLocation()">Vérifier l'emplacement</button>
</body>
</html>
