/**
 * @file
 * Search Form Styling
 */

/* ---------------- DEFAULT -----------------*/

.main-search-wrapper {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-song {
    gap: 16px;
    transition: .2s all ease-in;

    h1 {
        background: $white;
        text-align: center;
        margin: 0;
        font-size: 3.2rem;
        height: 70px;
        transition: .2s all ease-in;
    }

    > .d-flex {
        justify-content: center;
        gap: 10px;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        transition: .2s all ease-in;
    }

    .cancel-search {
        opacity: 0;
        width: 0;
        transition: .2s all ease-in;
        padding: 0;
        border: none;
        background: none;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.32px;
    }

    & + p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;
        color: $blak80;
        transition: .2s all ease-in;
        opacity: 0;
        height: 0;
        box-sizing: content-box;
        text-align: left;
        padding: 16px 20px;
        background: $greyBackground;
        margin: 0;
        flex-grow: 2;
    }

    & ~ .search-results {
        padding: 0;
    }

    &.active {

        h1 {
            opacity: 0;
            height: 0;
            visibility: hidden;
        }

        .search-song__wrapper {
            gap: 10px;
        }

        .cancel-search {
            opacity: 1;
            width: 80px;
        }

        & + p {
            opacity: 1;
            height: 60px;
        }
    }

    &.has-results {
        & + p {
            display: none;
        }

        & ~ .search-results {
            padding: 16px 20px 0 20px;
        }
    }
}