/**
 * @file
 * Search Result Styling
 */

/* ---------------- DEFAULT -----------------*/


/* ---------------- CUSTOM -----------------*/

.search-results {
    list-style-type: none;
    padding: 16px 20px 0 20px;
    background: $greyBackground;
    margin: 0;

    li {
        display: flex;
        gap: 17px;
        align-items: center;
        padding: 16px 0;

        &:first-child {
            padding-top: 0;
        }

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../images/vinyl.svg);
            background-repeat: no-repeat;
            background-size: contain;
            min-width: 56px;
            height: 56px;

            img {
                width: 20px;
                border-radius: 50%;
            }
        }

        p {
            margin: 0;
        }

        .song {
            flex-grow: 1;
        }

        .song-title {
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 0.4px;
            color: $black;
        }

        .song-subtitle {
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.28px;
            color: $greyText;
        }
    }
}

