/**
 * @file
 * Color Variables
 */

$black: #000;
$white: #fff;

$blak80: rgba(0, 0, 0, 0.80);
$greyBackground: rgba(0, 0, 0, 0.03);
$greyText: rgba(0, 0, 0, 0.40);
$greyPlaceholder: rgba(0, 0, 0, 0.15);
$grey3: rgba(0, 0, 0, 0.3);
$orangeGradient: linear-gradient(to right, #fa9500, #fa4000);
$greenGradient: #1DCC00;

$spotify: #1ED760;
$deezer: #9C42F3;
$orange: #FD5D01
