/**
 * @file
 * Color Variables
 */

$black: #000;
$white: #fff;

$greyBackground: rgba(0, 0, 0, 0.03);
$greyText: rgba(0, 0, 0, 0.40);
$greyPlaceholder: rgba(0, 0, 0, 0.15);
$orangeGradient: linear-gradient(to right, #fa9500, #fa4000);

$spotify: #1ED760;
$deezerGradient: linear-gradient(90deg, rgb(234,138,56), rgb(172,63,110), rgb(41,66, 183), rgb(80,169, 100));